/*
    Base
*/
@import url('https://fonts.cdnfonts.com/css/adelle');
body{
    background: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



strong {
    font-weight: 100;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    height: 100%;
}

h1 span{
    font-size: 1.7em;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Adelle', sans-serif;
    margin: 5px 0;
}

h2{
    font-size: 1.6em;
    font-weight: 700;
    font-family: 'Adelle', sans-serif;
}

h3{
    font-size: 1.5em;
    font-family: 'Adelle', sans-serif;
}

p, li, span, textarea {
    font-size: 1.3em;
    font-weight: 400;
    font-family: 'Adelle', sans-serif;
}

table, form{
    font-family: 'Adelle', sans-serif;
}

main{
    margin-top: 70px;
}

.container{
    width: 90%;
    margin: auto;
}

/*------------------------------------------------------------------------*/


/* 
    Header - Commun à toutes les pages
*/
.place_title-header{
    font-size: 2.2em;
    margin-top: 50px;
}

.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.place_title-header-flex{
    font-size: 1.5em;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 40px;
    border-top: 1px solid #00A2E8;
    border-bottom: 1px solid #00A2E8;
}

header nav ul li{
    font-size: 1.6em;
    height: 100%;
    padding: 15px;
    transition: 500ms;
}

.header_intro{
    text-align: center;
    margin: 30px;
    font-size: 1.6em;
    font-weight: 600;
    color: #00A2E8;
}

header nav ul li:hover{
    background-color: #00A2E8;
}

.header_li-selected{
    background-color: #00A2E8;
}

.container_header-picto{
    width: 300px;
    height: 200px;
}

.container_image-header{
    width: 100%;
    height: 514px;
}

.container_image-header-home {
    background: url(./img/picto_pen.jpg) no-repeat center;
    background-size: cover;
}

.container_image-header-pro {
    background: url(./img/picto_ordi.jpg) no-repeat center;
    background-size: cover;
}

.container_image-header-particular {
    background: url(./img/picto-plume.png) no-repeat center;
    background-size: cover;
}

.container_image-header-contact {
    background: url(./img/picto_puzzle.jpg) no-repeat center;
    background-size: cover;
}

.white {
    color:white;    
}

.title_contact {
    font-size: 1.6em;
    font-weight: 700;
    font-family: 'Adelle', sans-serif;
}

@media screen and (max-width: 1280px) {

}

/*------------------------------------------------------------------------*/

/*
    Footer - Commun à toutes les pages
*/

footer{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding-top: 20px;
    font-size: 0.6em;
    border-top: 1px solid #00A2E8;
}


.footer_contact ul {
    list-style-type: none;
    text-align: center;
}

.footer_polite {
    text-align: center;
    margin-top: 20px;
}

.footer_polite p{
    margin-top: 0;
}

.footer_polite ul li{
    list-style-type: none;
}

.footer_contact-social{
    display: flex;
    justify-content: space-evenly;
}

.footer_rgpd{
    width: 30%;
    text-align: center;
}

i {
    font-size: 30px ;
}

/*
    Main - Homepage
*/
.main_top {
    display: flex;
    justify-content: space-between;
}

.main_top-text {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
}

.main_top-img {
    width: 350px;
    height: 400px;
    border-radius: 50%;
    margin-right: 80px;
    object-fit: cover;
}

.tarif-professionnels-price{
    font-size: 15px;
}


.main_bot-container-card-image {
    display: flex;
}

.main_bot-card p, .main_bot-card h2 {
    margin: 0
}

.main_bot-container-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 30px;
}

.main_bot-card {
    margin: 15px 0
}

.image-index {
    width: 350px;
    height:300px;
    background: url("./img/picto_livre.jpg") ;
    background-repeat: no-repeat;
    background-size: contain;
}

/*------------------------------------------------------------------------*/

/*
    Main - Pro page
*/
.title_professionnels{
    width: 100%;
    text-align: center;
    display: block;
}

.intro_professionnels{
    text-align: center;
    margin-top: 30px;
}

.tarif_professionnels-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tarif_professionnels-container h2 {
    width: 100%;
    text-align: center;
    display: block;
}

.tarif_professionnels-container h3 {
    text-align: center;
}

.tarif_professionnels-onsite{
    width: 40%;
}

.tarif_professionnels-onsite ul{
    margin-top: 100px;
}

.tarif_professionnels-athome{
    width: 40%;
}

.tarif_professionnels-athome li, .tarif_professionnels-onsite li {
    margin: 15px 0;
}

.mission_ponctual-page ul, .mission_ponctual-audio ul{
    list-style-type: disc;
    width: 50%;
    margin: 10px auto;

}

.mission_ponctual-container h2{
    text-align: center;
}

.mission_ponctual-intro{
    width: 70%;
    text-align: center;
    margin: auto;
}


.mission_ponctual-audio h3 span, .mission_ponctual-page h3 span {
    font-size: 13px;
    font-weight: 100;
    font-style: italic;
}

.mission_ponctual-audio h3, .mission_ponctual-page h3 {
    font-size: 1.5em;
}

.mission_ponctual-audio li div , .mission_ponctual-page li div{
    display: flex;
    justify-content: space-between;
}

.mission_ponctual-audio li span, .mission_ponctual-page li span{
    font-size: 1em;
}

.mission_ponctual-audio {
    margin-top: 60px;
}

.move_fee{
    /* text-align: center; */
    margin-top: 30px;
    font-size: 12px;
}

/*------------------------------------------------------------------------*/

/*
    Main particular page
*/
.title_particular{
    width: 65%;
    text-align: center;
    margin: 50px auto;
}

.main_top-tarif {
    margin: auto;
    width: 50%;
}

.main_top-tarif li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
}

.main_top-tarif-info {
    width: 100%;
    display: block;
    font-size: 0.7em;
}

.main_top-tarif-info-pointer{
    font-size: 1em;
}

.main_top-tarif-price{
    position: relative;
    bottom: 55px;
}

table{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    text-align: center;
}

td{
 font-size: 1.1em;
 padding: 15px;
}

.array_left{
    text-align: start;
    line-height: -10px;
}

.tarif_info{
    font-size: 13px;
    /* line-height: 10px revert; */
}

.tarif_info-position{
    position: relative;
    top: -10px;
}



/*------------------------------------------------------------------------*/

/*
    Contact page
*/

.title_contact{
    text-align: center;
    margin-bottom: 50px;
}

.top_form{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 30px; */
}

form{
    width: 70%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

form input{
    width: 350px;
    height: 40px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    transition: 300ms;
    text-align: center;
    font-size: 1.2em;
    margin: 10px 0;
}

form label {
    font-size: 1.3em;
    font-weight: 500;
}

form .button {
    width: 250px;
    height: 70px;
    border-radius: 20px;
    /* background-color: aqua; */
    border: none;
    margin: 10px auto;
    background-color: lightgray;
    transition: 400ms;
}

form .button:hover {
    background-color: #00A2E8;
}

form input:hover{
    border-color: #00A2E8;
}

#textarea{
    width: 100%;
    height: 160px;
    padding: 10px;
}

.top_form-input{
    display: flex;
    flex-direction: column;
}



.contact_form-info{
    text-align: center;
    font-style: italic;

}

.contact_info-contianer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-top: 80px;
}

.contact_info-contianer p{
    width: 600px;
    text-align: justify;
    font-size: 1em;
    width: 400px;
}
#small{
    font-size: 0.8em;
}

.contact-container-info{
    transform: rotate(10deg);
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 15px 15px 40px black;
    width: 350px;
    background-color: white;
}

.contact-container-info h2, .contact-container-info p{
    text-align: center;
    margin: 10px;
    font-size: 1em;
    width: 350px;
}

.container_form-captcha{
    border: 1px solid #00A2E8;
    border-radius: 10px;
    width: 500px;
    height: auto;
    text-align: center;
    margin: auto;
    display: none;
}

.container_captcha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.captcha {
    width: 350px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
    transition: 300ms;
    text-align: center;
    font-size: 1.2em;
    margin: 10px 0;
    font-size: 30px;
    padding-top: 10px;
}

#textarea{
    border: 1px solid lightgray;
    outline: none;
}

/*------------------------------------------------------------------------*/




